<%= form_for(@new_location, url: associate_locations_path) do |f| %>

  <div class="input-field">
    <%= f.label :organization, @organization.name %> <br><br>
    <%= f.hidden_field :organization, value: @organization.id %>
  </div>

  <div class="input-field">
    <%= f.label :branch_name, "Location" %><br><br>
    <%= f.collection_select(:branch_name, @locations, :id, :branch_name) %>
  </div>
  <div class="action">
    <%= f.submit "Submit Survey" %>
  </div>
<% end %>
