<%= form_for(@organization, url: add_locations_path, method: "get") do |f| %>
  <div class="input-field">
    <%= f.label :name, "Name of Organization" %><br><br>
    <%= f.collection_select(:name, @uniq_organizations, :id, :name) %>
  </div>
  <div class="input-field">
    <%= f.label :name, "Name of Organization" %>
    <%= f.collection_select(:name, @uniq_organizations, :id, :name), {prompt: "Select an Organization"} %>
  </div><br>
  <div class="action">
    <%= f.submit "Add Organization" %>
  </div>
<% end %>
