<h1>Sign up as a Volunteer</h1>

<%= form_for(@volunteer, url: volunteers_path(@volunteer)) do |f| %>

  <div class="field">
    <%= f.label :birthdate, "Date of birth" %><br />
    <%= f.date_field :birthdate, {class: "datepicker"} %>
  </div>

  <div class="field">
    <%= f.label(:phone_number)%><br />
    <%= f.telephone_field(:phone_number) %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
