<h1><%=@org.name%></h1>
<h2>Locations</h2>
<ol>
  <h3>My Locations</h3>
<% @org_locations.each do |loc| %>
  <h5><li><%= loc.branch_name %> |
  <% if @v_locations.include?(loc) %>
    <%= link_to "Remove Location", remove_vol_location_path(:id => params[:id], :org_id => params[:org_id], :loc_id => loc.id) %>
      </li></h5>
      <ul>
        <% loc.surveys.each do |surv| %>
          <li>
            <%= surv.name %> |
            <% if @v_surveys && @v_surveys.include?(surv) %>
              <%= link_to "Edit Responses", edit_responses_path(surv) %>,
              <%= link_to "Delete Responses", delete_responses_path(surv) %>
            <% else %>
              <%= link_to "Take Survey", survey_path(surv) %>
            <% end %>
          </li>
        <% end %>
  <% else %>
  <h3>Available locations</h3>
    <%= link_to "Add Location", add_vol_location_path(:id => params[:id], :org_id => params[:org_id], :loc_id => loc.id) %>
    </li></h5>
  <% end %>
<% end %>
</ol>
