<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="alert-container">
    </div>
    <div class="row">
      <div class="col s12 head container-1">
        <div class="title-container">
          <h5 class="title-small">Volo</h5>
          <h3 class="title">Meaningful connections</h3>
          <p>
            <%= link_to 'Register', register_type_path, class: "register-button" %>
          </p>
        </div>
      </div>
    </div>


    <div class="row types">
      <div class="col s4 main">
        <%= image_tag("heart-teal", width: 120, height: 120)%>
        <h5>Volunteer</h5>
        <p>Volo helps you volunteer with a variety of long term care organizations and their residents. </p>
      </div>
      <div class="col s4 main">
        <%= image_tag("residents", width: 120, height: 120)%>
        <h5>Organization</h5>
        <p>Volo helps you connect your residents' with the right volunteers. Create surveys, collect responses from your volunteers and residents, then match! </p>
      </div>
      <div class="col s4 main">
        <%= image_tag("organization", width: 120, height: 120)%>
        <h5>Residents</h5>
        <p>Volo helps bring the right people into your life by learning what's important to you and finding volunteers that match you best.</p>
      </div>
    </div>
    <!-- --------------------------- -->
    <div class="row examples container-2">
      <div class="col s4 volunteer-img">
        <%= image_tag("heart.png", width: 200, height: 200, class: "image-heart") %>
      </div>
      <div class="col s8" id="contain-left">
        <h3 class="volunteer-white">Volunteer</h3><br><br>
        <p class="volunteer-white">Volo helps you volunteer with a variety of long term care organizations and their residents.</p>
      </div>
    </div>
    <!-- --------------------------- -->
    <div class="row examples container-3">
      <div class="col s8" id="contain-right">
        <h3>Organizations</h3><br><br>
        <p>Volo helps you connect your residents' with the right volunteers. Create surveys, collect responses from your volunteers and residents, then match!</p>
      </div>
      <div class="col s4 organization-img">
        <%= image_tag("organization.png", width: 200, height: 200, class: "image-organization") %>
      </div>
    </div>
    <!-- --------------------------- -->
    <div class="row examples container-4">
      <div class="col s4 resident-img">
        <%= image_tag("residents.png", width: 200, height: 200, class: "image-residents") %>
      </div>
      <div class="col s8" id="contain-left">
        <h3>Residents</h3><br><br>
        <p>Volo helps bring the right people into your life by learning what's important to you and finding volunteers that match you best.</p>
      </div>
    </div>
    <!-- --------------------------- -->
  </div>
<% end %>
