
<h2> <%= User.find(@resident.user_id).first_name %> <%= User.find(@resident.user_id).last_name %></h2>

<div class="res-avatar">
  <%= image_tag User.find(@resident.user_id).avatar.url(:medium) %>
</div>

<div class="res-org-name">
  Organization: <%= Organization.find(@resident.location.organization_id).name %>
</div>

<div class="res-loc-name">
  Location: <%= @resident.location.branch_name %>
</div>

<div class="surveys-available">
  Available surveys:<br>
  <% Organization.find(@resident.location.organization_id).surveys.each do |surv| %>
    <%= link_to "#{surv.name}", survey_path(surv) if !@completed_surveys.include?(surv.id)%><br>
  <% end %>
</div>

<% if !@completed_surveys.empty? %>
  <div class="comp-survs">
    Completed surveys:<br>
    <% @completed_surveys.each do |surv| %>
      <div class="res-surv">
        <%= Survey.find(surv).name %><br><%= link_to 'Edit responses', edit_responses_path(surv) %> <%= link_to 'Delete completed survey', delete_responses_path(surv) %>
      </div><br><br>
    <% end %>
  </div>
<% end %>

<div class="edit-res-profile">
<%= link_to "Edit Profile", edit_user_registration_path %>
</div>

<!-- <div class="delete-res-profile"> -->
<%# link_to "Delete Profile", delete_user_registration_path %> <!--Need to get path for deleting account-->
<!-- </div> -->
