<%= form_for @survey do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="add-question-fields">
    <%= f.fields_for :questions do |question| %>
      <%= render 'question_fields', f: question %>
    <% end %>
    <%= link_to_add_association "Add question", f, :questions %>
  </div>
  <div class="action">
    <%= f.submit "Submit Survey" %>
  </div>
<% end %>
