<h3><%= @survey.organization.name %></h3>
<h4><%= @survey.name %></h4>

<%= form_tag create_responses_path do %>
  <% @responses.each do |response| %>
    <% question = @question_set[@q_counter] %>

    <%= fields_for 'responses[]', response do |r| %>
      <% if question[0].question_type == "Open Response" %>
        <% if session[:volunteer_id] %>
          <%= r.hidden_field :volunteer_id, value: @respondent %>
        <% elsif session[:resident_id] %>
          <%= r.hidden_field :resident_id, value: @respondent %>
        <% end %>
        <div class="input-field">
          <%= r.label :question_id, question[0].question %><br>
          <%= r.hidden_field :question_id, value: question[0].id %>
        </div>
        <div class="input-field">
          <%= r.text_field :response %>
        </div>

      <% elsif question[0].question_type == "Multiple Choice" %>
        <% if session[:volunteer_id] %>
          <%= r.hidden_field :volunteer_id, value: @respondent %>
        <% elsif session[:resident_id] %>
          <%= r.hidden_field :resident_id, value: @respondent %>
        <% end %>
        <div class="input-field">
          <%= r.label :question_id, question[0].question %><br>
          <%= r.hidden_field :question_id, value: question[0].id %>
        </div>
        <div class="input-field">
          <br><br>
          <%= r.collection_select(:response, question[1], :answer, :answer, {prompt: "Please select"}, {:multiple => true} )%>
        </div>

      <% else %>
        <% if session[:volunteer_id] %>
          <%= r.hidden_field :volunteer_id, value: @respondent %>
        <% elsif session[:resident_id] %>
          <%= r.hidden_field :resident_id, value: @respondent %>
        <% end %>
        <div class="input-field">
          <%= r.label :question_id, question[0].question %><br>
          <%= r.hidden_field :question_id, value: question[0].id %>
        </div>
        <div class="input-field">
          <br><br>
          <%= r.collection_select :response, question[1], :id, :answer %>
        </div>
      <% end %>
    <% end %>
    <% @q_counter += 1 %>
  <% end %>

  <%= hidden_field_tag :organization_id, @organization.id %>

  <button class="btn" type="submit" name="action">
    Submit
  </button>

<% end %>
