<div class="nested-fields">
  <div class="field">
    <%= f.label :Location_name %>
    <%= f.text_field :branch_name  %>
  </div>

  <div class="field">
    <%= f.label :Address %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :Phone_number %>
    <%= f.number_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :volunteer_coordinator_name, 'Volunteer Coordinator name' %>
    <%= f.text_field :volunteer_coordinator_name %>
  </div>

  <div class="field">
    <%= f.label :volunteer_coordinator_phone, 'Volunteer Coordinator phone number' %>
    <%= f.number_field :volunteer_coordinator_phone %>
  </div>

  <div style="text-align:right">
    <%= link_to_remove_association "Remove location", f %>
  </div>
</div>
