<%= form_for @organization do |f| %>
  <div class="add-location-fields">
    <%= f.fields_for :locations do |location| %>
      <%= render 'location_fields', f: location %>
    <% end %>
    <div class="add-org-location">
      <%= link_to_add_association "Add location", f, :locations %>
    </div>
  </div><br>
  <div class="action">
    <%= f.submit "Save Locations" %>
  </div>
<% end %>
