<h1 class="org-name">
  <% if User.find(@organization.user_id).first_name %>
    <%= User.find(@organization.user_id).first_name %>
  <% end %>
  <% if User.find(@organization.user_id).last_name %>
    <%= User.find(@organization.user_id).last_name %>
  <% end %>
</h1>

<%= image_tag User.find(@organization.user_id).avatar.url(:medium) %>

<div class="create-survey">
<%= link_to "Create Survey", new_survey_path %>
</div>

<div class="view-survey">
<%= link_to "View Surveys", view_surveys_path %>
</div>

<div class="create-match">
<%= link_to "Match", new_match_path %>
</div>

<div class="add-edit-locations">
  <% if @organization.locations.empty? %>
    <%= link_to 'Add Locations', nest_locations_path %>
  <% else %>
    <%= link_to 'Add/Edit Locations', nest_locations_path %>
  <% end %>
</div>

<div class="view-org-locations">
  <%= link_to 'View Locations', view_locations_path %>
</div>
