<!DOCTYPE html>
<html>
  <head>
    <title>Volo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div>
        <div>
          <%= link_to 'Volo', root_path , class: "voloHeaderLogo"%>
        </div>
        <div class="navLinks">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
          </ul>
          <ul>
            <% if user_signed_in? %>
              <li>
                <a data-toggle="dropdown" href="#">
                  <%= "#{current_user.first_name} #{current_user.last_name}" %>
                  <span></span>
                </a>
                <ul role="menu">
                  <li><%= link_to 'Profile', edit_user_registration_path %></li>
                  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', register_type_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>


    <div class="alert-container">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield :top_content%>
    <h1><%= yield :header %></h1>

    <div class="container">
      <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Volo</h5>
            <p class="grey-text text-lighten-4">Volo helps you make meaningful connections with others.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Join</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Create Survey</a></li>
              <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Volo Inc.
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>

  </body>
</html>
