
<div class="row sign-up-type">
  <h3>Sign Up as</h3><br>
  <div class="col s4 sign-up-type">
    <%= link_to new_volunteer_path do %>
      <%= image_tag("heart-teal", width: 120, height: 120)%><br />
      <h5 class="sign-up-type-title">A Volunteer</h5>
    <% end %>
  </div>
  <div class="col s4 sign-up-type">
    <%= link_to new_resident_path do %>
      <%= image_tag("residents", width: 120, height: 120)%><br />
      <h5 class="sign-up-type-title">A Resident</h5>
    <% end %>
  </div>
  <div class="col s4 sign-up-type">
    <%= link_to new_organization_path do %>
      <%= image_tag("organization", width: 120, height: 120)%><br />
      <h5 class="sign-up-type-title">An Organization</h5>
    <% end %>
  </div>

  <!-- <div class="col s4 sign-">
    <%= image_tag("organization", width: 120, height: 120)%><br />
    <%= link_to "Sign Up As An Organization", new_organization_path, {:class=>"type"} %><br />
  </div> -->

</div>
